<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework/Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="order_complete_save_after" instance="Thao\Rewards\Observer\OrderCompleteObserver"/>
    </event>
    <event name="sales_order_place_before">
        <observer name="save_reward_points_before_order" instance="Thao\Rewards\Observer\SaveRewardPointsObserver" />
    </event>
</config>
